@{
    ViewBag.Title = "Code First DataBase";
}

<div class="jumbotron">
    <h1>Code-First DataBase</h1>
    <p class="lead">DB will automatically build on the first data request.</p>
    <p><a href="/Accounts/Index" class="btn btn-primary btn-lg">Account List &raquo;</a></p>
</div>